.Search__input--container {
  display: flex;
  justify-content: center;
  background-color: rgb(209, 123, 140);
  border: 1px solid whitesmoke;
  margin-top: 8%;
  padding: 8px 16px;
  border-radius: 999px;
  align-self: center;
}

.Search__input--field {
  font-size: 1rem;
}

.App__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toggle__button {
  padding: 5px;
  background-color: #12121a;
  border-radius: 7px;
  border: 2px solid azure;
  color: whitesmoke;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
}

.Toggle__button:hover {
  opacity: 0.8;
}
